<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <style>
        .navbar{
            background-color: skyblue;
        }
    </style>
</head>
<body>
<body>
<!-- 상단바 부분 -->
<nav class="navbar navbar-expand-sm" style="height: 70px;">
    <div class="container">
        <a href="#" class="navbar-brand" style="color:white;">SLEEPON</a>
    </div>
</nav>
<div>

</body>
</html>