<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <style>
        .navbar{
            background-color: skyblue;
        }

    </style>
</head>
<body>
<!-- 상단바 부분 -->
<nav class="navbar navbar-expand-sm" style="height: 60px;">
    <div class="container">
        <a href="#" class="navbar-brand" style="color:white;">SLEEPON</a>
    </div>
</nav>
<div class="container" style="margin-top: 30px;">
    <h3>케이힐스 더 테라스</h3>
    <div class="row">
        <div class="col-6">
            <img src="img/revato-3599079-13645276-242516%20(1).jpg" style="width:650px;"/>
        </div>
        <div class="col-3">
            <img src="img/revato-3599079-13645297-222837.jpg" style="width:240px;">
        </div>
        <div class="col-3">
            <img src="img/revato-3599079-13645252-183981.jpg" style="width:240px;">
        </div>

    </div>
</div>
<div>

</body>
</html>