<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=37a2bfeuno"></script>
    <style>
        .navbar {
            background-color: skyblue;
        }

        b {
            color: dimgrey;
        }

        .btn {
            color: white;
        }

        .btn:hover {
            color: white;
        }

        hr {
            width: 86%;
            height: 2px;
            background-color: black;
            border: 0;
        }
    </style>
</head>
<body>

<!-- 상단바 부분 -->
<nav class="navbar navbar-expand-sm sticky-top" style="height: 70px;">
    <div class="container">
        <a href="#" class="navbar-brand" style="color:white;"><h3>sleepOn</h3></a>
    </div>
</nav>

<!--호텔 이미지, 가격, 예약버튼-->
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-9">
            <h4><strong>케이힐스 더 테라스
                <!--      지도 아이콘(클릭시 지도로 스크롤이동)        -->
                <a href="#location"><img src="img/map.png" class="mt-0 border-0" style="width:27px;"></a>
            </strong></h4>
            <b>경기도 고양 심학산로 628</b>
        </div>
        <div class="col-3">
            <b>총 금액</b><h4><strong>85,500원</strong></h4>

            <!--      예약버튼(클릭 시 결제창 호출)      -->
            <a href="#">
                <input type="button" value="예약하기" class="btn btn-info" onclick="showPayment();">
            </a>
            <script language="javascript">
                function showPayment() { window.open("SleepOnReservation.html", "예약 및 결제", "width=700, height=900, left=500, top=100"); }
            </script>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <img src="img/revato-3599079-13645276-242516%20(1).jpg"
                 style="width:653px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"/>
        </div>
        <div class="col-6">
            <div class="row-6 mb-2">
                <img src="img/revato-3599079-13645252-183981.jpg" style="width:225px; height: 233px;">
                <img src="img/revato-3599079-13645296-680862.jpg"
                     style="width:225px; height: 233px; border-top-right-radius: 10px;">
            </div>
            <div class="row-6 mt-2">
                <img src="img/revato-3599079-13645297-222837.jpg" style="width:225px; height: 233px;">
                <img src="img/revato-3599079-13645301-555815.jpg"
                     style="width:225px; height: 233px; border-bottom-right-radius: 10px;">
            </div>
        </div>
    </div>
</div>

<!-- 숙소 정보 -->
<div class="container pb-5">
    <hr>
    <h4><strong>개요</strong></h4>
    <p>케이힐스 호텔은 경의중앙선 야당역 2번 출구에서 도보로 약 7분 거리에 있습니다. 바로 앞에는 운정 호수 공원이 있어 산책하시기에 좋습니다.
        주변 명소인 <br>킨텍스와 일산 호수 공원은 차로 약 20분이면 가실 수 있습니다. 전 객실에는 개별 테라스와 취사 시설이 마련되어 있습니다. 별도로,
        루프탑 객실에는 노천 <br>스파 시설이 갖춰져 있습니다.
    <hr>
    <h4><strong>편의시설</strong></h4>
    <hr>
    <h4 class="mb-5"><strong>숙소 공지사항</strong></h4>
    <div class="row">
        <div class="col-6">
            <img src="img/check-in.png" style="width: 20px; float:left; margin-right: 15px;"><h6><b>체크인:</b> 16:00 이후
        </h6>
            <img src="img/check-out.png" style="width: 20px; float:left; margin-left: 5px; margin-right: 10px;"><h6><b>체크아웃:</b>
            10:00 까지</h6>
        </div>
        <div class="col-6">
            <h6><strong>취소/선결제</strong></h6>
            취소/선결제 정책관련 문의는 해당 숙박업체에 문의 바랍니다.
        </div>

    </div>
    <hr>

    <!--  네이버 API 지도(숙소 위치)  -->
    <h4 id="location"><strong>위치</strong></h4>
    <div id="map" class="mb-3" style="width:86%;height:400px; border-radius: 10px;"></div>
    <b>경기도 고양 심학산로 628</b>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.716557, 126.761358),
            zoom: 10
        };

        var map = new naver.maps.Map('map', mapOptions);

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.716557, 126.761358),
            map: map
        });
    </script>

<!--  리뷰  -->
    <hr>
    <h4><strong>후기</strong></h4>
    <hr>
</div>
</body>
</html>